<h3>@ViewBag.Message</h3>

<p>
    Desafio:
</p>
<p>
    1)	Como coordenador de um estacionamento eu preciso controlar diariamente toda entrada e saída de veículos, assim como a quantidade de veículos que estão estacionados e quantas vagas ainda estão disponíveis.
    Preciso que você desenvolva para mim um sistema onde eu possa cadastrar meu cliente através da placa e modelo do carro e depois possa informar no cadastro a data e hora de entrada daquele veiculo e data e hora de saída daquele veiculo
</p>
<p>
    2)	Semanalmente eu preciso enviar ao meu gerente um relatório onde eu mostro quantos veículos entraram e saíram diariamente, assim como quantos e quais desses veículos estacionaram mais de uma vez na semana.
</p>
