<h3>@ViewBag.Message</h3>
<br />
<p>
    <h4>Leandro Figueiredo</h4><br />
    F:+55 (11) 974496151 <a href=" https://api.whatsapp.com/send?phone=+5511974496151">Whatsapp</a>
</p>
<address>
    <strong>Email:</strong> <a href="mailto:leandro@ldf.la">leandro@ldf.la</a>
</address>