<h3>@ViewBag.Message</h3>

<address>
    Leandro Figueiredo<br />
    <abbr title="Fone">F:</abbr>
    +55 (11) 974496151 <a href=" https://api.whatsapp.com/send?phone=+5511974496151">Whatsapp</a>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:leandro@ldf.la">leandro@ldf.la</a>
</address>