@{
    ViewBag.Title = "Estacionamento EAI Brasil";
}

<div class="jumbotron">
    <h1>Estacionamento EAI</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acesse com sua conta para iniciar o sistema</h2>
        <p>
            funcionario@eaibrasil.local  ( Acesso operacional )
        </p>
        <p>
            ou
        </p>
        <p>
            coordenador@eaibrasil.local  ( Acesso gerencial )
        </p>
    </div>
</div>