@{
    ViewBag.Title = "Estacionamento EAI Brasil";
}


<div class="row">
    <div class="col-md">
        <h2>Acesse uma opção abaixo para acessar o sistema</h2>
        <br />
        <p>
            <h2>@Html.ActionLink("Acesso Operacional", "Index", "Estacionamento") </h2>
        </p>
        <p>
            ou
        </p>
        <p>
            <h2>@Html.ActionLink("Acesso Gerencial", "Index", "Gerencia")</h2>
        </p>
        <br />
        <br />
    </div>
</div>