
@{
    ViewBag.Title = "Erro, Veículo Já Se Encontra Estacionado";
}

    <p>
        <h2>O Veículo @ViewBag.Placa Já Se Encontra Estacionado !</h2>
    </p>

    <p>
        <h2>@Html.ActionLink("Voltar", "Index", "Estacionamento") </h2>
    </p>

